/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --mediumgray: #666666;
  --darkgray: #222222;
  --lightgray: #DCDCDC;
  --blue: #7FB6F5;
}

body {
  /* display: flex;
  flex-direction: row; */
  font-family: Arial;
  background: var(--darkgray);
  margin: 0;
  /* padding: 0; */
}

/* NAVBAR */

.navbar {
  background: var(--lightgray);
  color: var(--darkgray);
}

.username-section {
  color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-links-section {
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
}

.navbar-icon {
  width: 2rem;
  height: 2rem;
}

.logo-icon {
  width: 4rem;
  height: 4rem;
  justify-content: flex-end;
}

/* .navbar-bottom-half {
  display: flex;
  flex-direction: row;
} */

.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* MAIN */

h3 {
  color: var(--lightgray);
}

.card-container-1,
.card-container-2 {
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px var(--lightgray) solid;
  margin: 0.3rem;
  background: var(--white);
  padding: 1rem;
}

/* ON CARD */

.user-photo {
  height: 17.6rem;
  margin: 0;
}

.right-arrow {
  width: 3rem;
  height: 3rem;
}

.num-attachments {
  color: var(--blue);
}

.recipient-link {
  background: var(--lightgray);
}
