/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --mediumgray: #828282;
  --darkgray: #222222;
  --lightgray: #DCDCDC;
  --blue: #ABEAE1;
  --pink: #FFC0CB;
  --green: #E5F3B3;
}

body {
  font-family: Arial;
  background: var(--darkgray);
  margin: 0;
  padding: 0;
  color: var(--darkgray);
}

/* NAVBAR */

.navbar {
  background: var(--pink);
  color: var(--darkgray);
  flex-direction: row;
  justify-content: space-between;
  height: 15rem;
}

.navbar-left {
  width: 40rem;
  padding: 1.5em 0 0 0;
  margin: 0 0 0 0;
  display: grid;
}

.navbar-right {
  width: 20rem;
}

.username-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 2.2rem 0 0;
}

.username {
  margin: 0.7rem 0 0 0;
}

.navbar-links-section {
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
  margin: 0 0 0 0.6rem;
  padding: 0;
}

.navbar-icon {
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.5rem;
}

.logo-icon {
  width: 4rem;
  height: 4rem;
  justify-content: flex-end;
  padding: 2.1rem 0.5rem 0 0.8rem;
  margin: 0;
}

.logo-section {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  font-size: 2.3rem;
}

/* MAIN */

h3 {
  color: var(--white);
  font-size: 2.5rem;
  padding: 0 0 0 1.3rem;
  margin: 1.9rem 0 1rem 0;
}

.card-container-1,
.card-container-2 {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5rem; 
  display: grid;
}

.card-container-2 {
  margin-bottom: 1rem;
  
}

.card {
  border: 1px var(--lightgray) solid;
  margin: 0.3rem;
  background: var(--white);
  width: 20rem;
}

/* ON CARD */

/* photo section */

.recipient-info-container {
  padding: 1rem;
  max-width: 20rem;
}

.recipient-photo {
  width: 20rem;
  margin: 0;
}

.photo-container {
  position: relative;
}

.right-arrow {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: var(--blue);
  border-radius: 10rem;
  padding: 0.1rem;
}

.views,
.num-views {
  position: absolute;
  color: var(--white);
  padding: 0;
}

.views {
  font-size: 0.8rem;
  bottom: 11.4rem;
  right: 0.9rem;
}

.num-views {
  font-size: 2rem;
  bottom: 7.9rem;
  right: 1.1rem;
}

/* recipient info section */

.recipient-name {
  margin: 0;
}

.date-time {
  color: var(--mediumgray);
  margin: 0;
  font-size: 0.9rem;
}

.recipient-link {
  background: var(--green);
  padding: 0.5rem
}

.play-attach {
  font-size: 0.8rem;
}

.num-attachments {
  color: var(--blue);
  font-size: 2rem;
  margin: 0;
}

/* MEDIA QUERY */

@media only screen and (min-width: 680px) {

  .card-container-1,
  .card-container-2 {
    display: flex;
  }

  .navbar {
    display: flex;Í
    margin: 0;
  }
 
  .navbar-links-section {
    display: flex;
    margin: 5rem 0 0 1.3rem;
  }

  .navbar {
    height: 11rem;
  }
}