/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --mediumgray: #666666;
  --darkgray: #222222;
  --lightgray: #DCDCDC;
  --blue: #7FB6F5;
}

body {
  display: flex;
  flex-direction: row;
  font-family: Arial;
}

/* NAVBAR */

.navbar {
  background: var(--darkgray);
  color: var(--lightgray);
}

.navbar-links {

}



/* HEADERS */

h1 {
  color:
  font-size: 
}